---
import Base from "../../layouts/Base.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import NotebookPost from "../../components/NotebookPost.astro";
const allPosts = Object.values(
    import.meta.glob("../notebooks/*.md", { eager: true })
);
---
<Base>
    <Header />
    <div class="w-3/5 mx-auto pt-4 pb-4 text-4xl index heading">All Notes</div>
    <div class="w-3/5 mx-auto">
        {
            allPosts.map((post:any) =>
                <NotebookPost
                    url={post.url}
                    date={post.frontmatter.pubdate}
                    description={post.frontmatter.description}
                    title={post.frontmatter.title}
                    tags={post.frontmatter.tags}
                />
            )
        }
    </div>
    <Footer />
</Base>